body {
    background-color:#f2f2f2;
    width: 1440px;
    font-size: 15px;
    color: hsla(0, 0%, 100%, 0.75);
}

#box {
    display: flex;
    margin: 5% 22%;
    width: 60%;
}

#icon {
    margin-top: 1em;
}

h1 {
    font-family: 'Big Shoulders Display', cursive;
    font-weight: 700;
    font-size: 2em;
    padding: 1em 1em 1em 0;
}

p {
    font-family: 'Lexend Deca', sans-serif;
    font-weight: 400;
    line-height: 1.5em;
}

button {
    background: #f2f2f2;
    border: 1px #f2f2f2;
    border-radius: 45px;
    position: relative;
    top: 10%;
    padding: 1em 2em;
    cursor: pointer;
    font-size: 1em;
    font-family: 'Lexend Deca', sans-serif;
    font-weight: bold;
    color: #f2f2f2;
    margin-top: 3em;
}

a {
    text-decoration: none;
}

a :visited {
    color: #f2f2f2;
}

.sedans {
    display: inline-block;
    width: 33%;
    padding-top: 3em;
    padding-left: 3em;
    padding-right: 3em;
    padding-bottom: 5em;
    background-color: #e38826;
    border: 2px solid #e38826;
    border-radius: 6px 0 0 6px;
}

.suvs {
    display: inline-block;
    width: 33%;
    padding-top: 3em;
    padding-left: 3em;
    padding-right: 3em;
    padding-bottom: 5em;
    background-color: #006970;
    border: 2px solid #006970;
}

.luxury {
    display: inline-block;
    width: 33%;
    padding-top: 3em;
    padding-left: 3em;
    padding-right: 3em;
    padding-bottom: 5em;
    background-color: #004241;
    border: 2px solid #004241;
    border-radius: 0 6px 6px 0;
}

.attribution { 
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    font-size: 11px;
    color: grey;
    text-align: center; 
    margin: 3em;
}

.attribution a {
    color: hsl(228, 45%, 44%); 
}
